.note {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevent text selection */
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  text-align: center;
  background-color: rgb(189, 189, 189);
  border: solid  rgb(198, 198, 198) 1px;
  z-index: 1;
}

.note p {
  color: black;
  width: 24px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.is-selected {
  background-color: rgb(246, 246, 246);
}

.highlighted {
  background-color:rgb(255, 193, 36);
  border: solid black 1px;
  opacity: 1;
}

.root {
  background-color: darkorange;
}

.is-selected.highlighted {
  background-color:rgb(252, 229, 170)
}