.tab-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
  border: solid gray 1px;
  align-self: flex-start;
  margin-left: 1em;
  margin-bottom: 1em;
}

.tab-group {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
}

.tab-note {
  /* display: inline-block; */
  /* width: 2ch; */
  /* text-align: center */
}