
.grid-container {
  width: 95vw;
  max-width: 1200px;
}

.fretboard-row {
  display: grid;
  position: relative;
  margin:0;
  padding:0;

}

.fret-numbers {
  display: grid;
  text-align: center;
  margin-bottom: 0.5em;
}

.fretboard {
  position: relative;
  display: grid;
}

.fret {
  display: flex;
  justify-content: center; 
  border-right: solid rgb(167, 167, 167) 4px;
  margin: 0;
  padding: 5px 0 5px 0;
  background-color: rgb(18, 18, 18)
}

.fretboard-row > .fret:nth-child(3) {
  border-right: solid white 5px;
}

.string-line {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 95%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 16%, rgba(193,193,193,1) 54%, rgba(87,86,86,1) 84%);
  z-index: 0;
}
